body 
{
font-family: "Arial";
font size: 18px;
background-color: #777;
width: 960px;
text-align: center;
}
p  { 
text-align: left;
color: #777;
background: #ebebeb:
}
h1 {
text-align: center;
background: #ebebeb; 
padding-top: 40px;
padding-bottom: 40px;
}
h2 {
background: #ebebeb; 
text-align: left;
}
.art {
color: #ebebeb;
background: #777;
padding-top: 40px;
padding-bottom: 40px;
}
.container2 {
display: flex right;
}
.padding {
padding-bottom: 40px;
padding-top: 40px
text-align: center;
}
.container {
display: flex;
text-align: center;
padding-left: 80px;
}